flask==3.0.0
flask-cors==4.0.0
pymongo==4.6.0
python-dotenv==1.0.0
flask-bcrypt==1.0.1
PyJWT==2.8.0
pypdf2
openai
huggingface_hub
pinecone-client
sentence_transformers
InstructorEmbedding
langchain_core
fastapi
uvicorn
nest-asyncio
pydantic
langchain
langchain-google-genai
langchain-community
langsmith
requests
faiss-cpu
reportlab
python-Levenshtein
textblob